<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Busqueda</title>
</head>
<body>
    Horarios de la Clase {{clase}}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tbody>
        {% for horario in horarios %}
        <tr>
            <td>{{horario.id}}</td>
            <td>{{horario.nombre}}</td>
            <td>{{horario.horario}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</body>
</html>